body{
  background-color: #bcc6cd;
}
footer{
  text-align: center;
  background-color: #4e5255;
}
h1{
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}
form{
  margin : 20px;
  z-index: 1;
}
input, textarea{
  margin:20px;
  width: 83%;
  border: none;
}
textarea{
  height: 200px;
}
input[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px 0px 15px 15px ;
}
p,h1{
  text-align: center;
}

.menu{
  background-color: #4e5255;
  font-family: 'Montserrat', sans-serif;
  font
}
.menu a, p, h1, h2, h3 {
  color: white;
  text-decoration: none;
}

.neumo{
  border-radius: 30px;
  width: 120px;
  height: 120px;
  background: linear-gradient(225deg, #ffffff, #c9d4db);
  box-shadow:  -20px 20px 60px #767d81,
               20px -20px 60px #ffffff;
  z-index: -1;
  margin-top: 20px;
}
.neumo_contacto{
  border-radius: 30px;
  width: 120px;
  height: 300px;
  background: linear-gradient(225deg, #ffffff, #c9d4db);
  box-shadow:  -5px 5px 10px #767d81,
               5px -5px 10px #ffffff;
  margin-top: 20px;
}
#cuerpo{
  display: flex;
  align-items: flex-start;
  align-items: stretch;
}
#menu_sup{
  height: 50px;
}
#menu_sup ul{
  padding: 0px;
}
#menu_sup ul li{
  display: inline;
}
#menu_sup ul li a{
  float: right;
  padding: 15px;
}

#menu_izq{
  width: 150px;
  display: flex;
}
#menu_izq ul{
  padding: 0px;
}
#menu_izq ul li{
  display: inline;
}
#menu_izq ul li a{
  float: left;
  padding: 20px;
}

#contenido{
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}
#logo{
  align-items: center;
  display: inline-flex;
}
#contacto{
  width: 300px;
  height: 450px
}
#enviar{
  width: 300px;
  height: 50px
}
