body{
  background-color: #bcc6cd;
}
footer{
  text-align: center;
  background-color: #4e5255;
}
.menu{
  background-color: #4e5255;
  font-family: 'Montserrat', sans-serif;
  font
}
.menu a, p, h1, h2, h3 {
  color: white;
  text-decoration: none;
}
h1{
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}
.neumo{
  border-radius: 30px;
  width: 120px;
  height: 120px;
  background: linear-gradient(225deg, #ffffff, #c9d4db);
  box-shadow:  -20px 20px 60px #767d81,
               20px -20px 60px #ffffff;
  z-index: -1;
  margin-top: 20px;
}
#cuerpo{
  display: flex;
  align-items: flex-start;
  align-items: stretch;
}
#menu_sup{
  height: 50px;
}
#menu_sup ul{
  padding: 0px;
}
#menu_sup ul li{
  display: inline;
}
#menu_sup ul li a{
  float: right;
  padding: 15px;
}

#menu_izq{
  width: 150px;
  display: flex;
}
#menu_izq ul{
  padding: 0px;
}
#menu_izq ul li{
  display: inline;
}
#menu_izq ul li a{
  float: left;
  padding: 20px;
}

#contenido{
  width: 100%;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}
#logo{
  align-items: center;
  display: inline-flex;
}
